/* =============
    Needs Hero
============= */
#n-hero {
    div {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 60vh auto;
        grid-template-columns: 10% 80% 10%;
        grid-template-areas: ". . ." ". title .";
        background-repeat: no-repeat;
        background-image: url('../img/needs/heropig.jpg');
        background-size: cover;
        background-position: 70%;

        article {
            grid-area: title;
            h1 {color: $white}

            h6 {color: $white}
        }
    }
}
