/* =============
    Navigation
============= */
nav {
    position: fixed;
    right: 24px;
    top: 15%;
    width: 80vw;
    z-index: 300;
    @include md {
        width: 40vw;
    }
    @include lg {
        width: 30vw;
    }

    ul {
        li {
            display: none;
            @include md {}
            @include lg {}

            h6 {
                background-color: $blank;
                border: none;
                cursor: pointer;
                // height: 100%;
                padding: 10px 0;
                text-align: right;
                width: 100%;
                margin-bottom: 16px;
                text-decoration: none;
                color: $white;

                a {
                    font-family: "sofia-pro", sans-serif;

                    text-transform: uppercase;
                    letter-spacing: rem-calc(0.75);
                    font-weight: 700;
                    text-decoration: none;
                    transition: 0.25s;
                    font-size: rem-calc(28);
                    @include md {
                        font-size: rem-calc(32);
                        margin-bottom: 24px;
                        letter-spacing: rem-calc(1);

                    }
                    @include lg {
                        font-size: rem-calc(40);
                        margin-bottom: 32px;
                        letter-spacing: rem-calc(1.25);

                    }
                    color: $white;
                }

                a:link,
                a:visited {
                    color: $white;
                }

                a:active,
                a:hover {
                    border-bottom: 4px solid $white;
                }
            }
        }

        li:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}
