/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 704px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1280px;

// Global Colors
$white: #FCFCFC;
$black: #000;
$charcoal: #262626;
$pale-yellow: #F7F4EE;
$light-blue: #B1C5D0;
$blank: rgba(0,0,0,0);
$green: #89966A;

// Needy Colors
$light-yellow: #F2ECE2;
$yellow: #E3C68D;
$dark-yellow: #E5B862;

// Sanctuaries Colors
$sanctuary-light-pink: #FFC4C4;
$sanctuary-pink: #FFF3F3;
$sanctuary-dark-pink: #816A72;
$sanctuary-shadow-pink: #1A0009;

// Risky Colors
$light-pink: #FFC4C4;
$pink: #FFC4C4;
$orange: #F5BFA0;
