/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1280px;

// Global Colors
$white: #FCFCFC;
$black: #000;
$charcoal: #262626;
$pale-yellow: #F7F4EE;
$light-blue: #B1C5D0;

// Needy Colors
$light-yellow: #F2ECE2;
$yellow: #E3C68D;
$dark-yellow: #E5B862;

// Sanctuaries Colors
$light-pink: #FFC4C4;
$pink: #816A72;
$dark-pink: #1A0009;

// Risky Colors
$light-pink: #FFC4C4;
$pink: #FFC4C4;
