/* =============
    Hero
============= */
#section-1{
    height: 90vh;
    display: flex;
    align-items: flex-end;
    background-image: url("../img/Sanctuaries/Hero/Hero.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    @include md{
        background-position: center;
    }
    @include md{
        background-size: 104%;
    }

    >div{
        width: 100%;
        height: 280px;
        padding: 0px 24px 40px;
        display: flex;
        align-items: flex-end;

        @include md{
            height: 328px;
            padding: 0px;


        }

        article{
            padding-top: 4px;
            // display: flex;
            // align-items: flex-end;
            @include md{
                padding: 0px;
                margin: 0px auto 56px 104px;
            }
            @include lg{
                margin: 64px 96px;
            }

            h1{
                color: $white;
            }
        }
    }
}
