/* =============
    Pot-Bellied
============= */
#section-3 {
    background-color: $sanctuary-pink;
    @include lg {
        height: 352px;
        padding: 80px 0;
        grid-template-columns: auto 832px auto;
        margin-bottom: 192px;
    }

    > div {
        @include md {
            display: grid;
            grid-template-columns: 400px auto;
            grid-template-areas: "article aside";
        }

        article {
            color: $charcoal;
            grid-area: article;
            z-index: 100;
            padding-bottom: 56px;
            @include md {
                padding: 0;
            }

            h2 {
                padding-bottom: 24px;
                @include md {
                    padding-bottom: 16px;
                }
            }

            > p {}

            p:nth-child(3) {
                padding-top: 32px;

                span {}
            }
        }

        aside {
            grid-area: aside;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.75;
            margin-top: 0;
            @include md {
                position: relative;
            }

            figure {
                background-image: url("../img/Sanctuaries/PotBellied/PotBelly.jpg");
                background-position: top center;
                background-repeat: no-repeat;
                background-size: auto 120%;
                height: 256px;
                width: 100%;
                @include md {
                    position: absolute;
                    right: 0;
                    bottom: -32px;
                    z-index: 50;
                    width: 60vw;
                }
                @include lg {
                    right: 0;
                    bottom: -160px;
                    width: 472px;
                    height: 400px;
                }
            }
        }
    }
}
