/* =============
    Stats
============= */
#section-2 {
    @include lg {
        grid-template-columns: auto 640px auto;
    }

    > div {
        article {
            h2 {
                color: $sanctuary-dark-pink;
                font-family: "sofia-pro", sans-serif;
                font-size: rem-calc(24);
                font-weight: 400;
                line-height: rem-calc(30);
                text-align: center;
                @include md {
                    font-size: rem-calc(32);
                    line-height: rem-calc(40);
                }
                @include lg {
                    font-size: rem-calc(40);
                    line-height: rem-calc(48);
                }
            }
        }
    }
}
