/* =============
    pig health matters
============= */
#children {
  background-color: $opacity-orange;
  // margin-bottom: -100px;
  @include md {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 40px;

    div {
      padding-left: 18px;
      padding-right: 18px;

      h2 {
        text-align: center;
      }
    }
  }
  @include lg{
    margin-top: 100px;
  }
}
