/* =============
    pig health matters
============= */
#health {
  background-color: $opacity-orange;
  @include md {
    background-color: $blank;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left right";


    div {
      grid-area: left;
      padding-left: 56px;
      z-index: 5;
    }
  }
  @include lg{
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "left left left left right";
    margin-bottom: 200px;
    div{
      grid-area: left;
    }
  }

  #health-extra-text{
    display: none;
    @include md{
      display: block;
      position: relative;
      top: 530px;
    }
  }

  #health-extra-text-2{
    display: none;
  }
}


// health image
#health-image {
  margin-bottom: -60px;
  @include md{
    margin-bottom: -435px;
  }

  #health-tablet-bg {
    display: none;
  }
  @include md{
    #health-tablet-bg {
      display: block;
      position: absolute;
      background-color: $opacity-orange;
      height: 80vh;
      width: 40vw;
      top: 850px;
      right: -200px;
      background-image: none;
      z-index: 1;
    }
  }

  div {
    position: relative;
    background-image: url("../img/sick-pig.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    top: -90px;
    @include md {
      // position: relative;
      top: -645px;
      background-size: 45%;
      height: 80vh;
      left: 250px;
      z-index: 5;
    }
    @include lg{
      background-size: 32%;
      left: 445px;
      // top: 0;
      top: -400px;
      // bottom: -100px;
      // height: 100vh;
    }
  }
}
